# Default ignored files
/shelf/
/workspace.xml
/frontend/node_modules/
/backend/node_modules/
/frontend/build/

# Editor-based HTTP Client requests
/httpRequests/

# Django-specific entries
venv/
team_management/team_management/settings/local.py
*.sqlite3
team_management/team_management/static/
team_management/media/
.vscode/
backend/.idea/
*.pyc
__pycache__/
.env
.venv/
Pipfile.lock
*.log
*.tmp

.idea
